* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    box-sizing: border-box;
    color: white;
    background: #545454;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(53, 53, 53) 100%);}

.cover {
    margin: 164px 964px 164px 180px;
    display: flex;
}

h1 {
    font-size: 116px;
    font-weight: 500;
    margin: 0 0 32px 0;
}

h2 {
    font-size: 67px;
    color: #8D8D99;
    font-weight: 400;
    margin: 0 0 241px 0;
}

#box-1 {
    box-sizing: border-box;
    margin: 164px 164px 964px 180px;
}

.rocketseat-logo {
    width: 485px;
    height: 72px;
}

.tag {
    padding: 20px 48px;
    width: 370px;
    height: 100px;
    display: flex;
    background-color: #202024;
    border-radius: 99.9px;
}

.fullstack-logo {
    margin: -15px -15px 8px -15px;
    height: 130px;
}

.text-fs {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 56px;
    font-weight: 600;
    margin: 10px 60px 8px 12px;
}

.box-2 {
    height: 112px;
}

.footer {
    background-color: #8234E9;
    width: 100%;
    height: 24px;
}
